.post-wrapper
  .row.profile-header
    .col-sm-6
      .img-circle
        = profile_avatar_select(@user)
    .col-sm-6
      .user-name-and-follow
        %h3.profile-user-name
          = @user.user_name
      %p.profile-bio
        = @user.bio
      .user-statistics
        %p
          = pluralize @user.posts.count, 'post'
      %div
        - if @user == current_user
          = link_to 'Edit Profile', edit_profile_path(@user.user_name),
                                    class: 'btn edit-button flat__buttons'
          = link_to 'Edit Basic Info', edit_user_registration_path,
                                    class: 'btn edit-button flat__buttons'
        - else
          = render 'follow_and_unfollow_button',user: @user
          = link_to 'Message', '#' ,class: 'start-conversation btn btn-danger follow-button flat__buttons',"data-sid" => current_user.id, "data-rip" => @user.id


-@posts.each do |post|
  = render 'posts/post', {post: post,postable:post.user}
