.container
  .row
    .col-sm-4
      .chat_box.list-group
        %li.list-group-item
          .chat_box_heading Chat Room
        %li.list-group-item
          .text-center
            = link_to 'New chat room', new_chat_room_path
        %li
          = render @chat_rooms

    .col-sm-8
      %article.post-wrapper
      .post
        .post-head
          %h2= @chat_room.title
          #messages{'data-chat-room-id' => @chat_room.id }
            = render @chat_room.messages

          = simple_form_for @message, url: '#' do |f|
            .form-group
              = f.input :body, class: 'form-control',label: false,autofocus: true
            = f.submit "Send Message", class: 'btn btn-success'