.bgwhite.sb1.mt20.mwidth960.mauto.padding20
  = render 'common_links'
  %hr
  - if current_user.is_group_approved(@group.id)
    %h4 Moderators
    -@members.each do |member|
      -if(member.role_id == @moderator_role_id)
        = render 'members_common_links',group: @group , member: member,type: 'moderators'
    %hr
    %h4 Members
    -@members.each do |member|
      -if(member.role_id == @approved_role_id)
        = render 'members_common_links',group: @group , member: member,type: 'members'
    %hr
    - if current_user.is_group_approved(@group.id)
      - if(current_user.is_univerisity_moderator(@group.id))
        %h4 Pending To Be Approved
        -@members.each do |member|
          -if(member.role_id == @pending_role_id)
            = render 'members_common_links',group: @group , member: member,type: 'pending'
          %hr
        %h4 Banned Users
        -@members.each do |member|
          -if(member.role_id == @banned_role_id)
            = render 'members_common_links',group: @group , member: member,type: 'banned'
        %hr
  - else
    = render 'join_group'