.group-show-wrapper
  .group-timeline
    = link_to (image_tag @group.timeline_image.url(:original), class: 'group_timeline_image' ),groups_path(@group)
  .container-fluid
    .row
      .col-sm-8
        = render 'common_links'
        - if current_user.is_group_approved(@group.id)
          %main#posts
            .post-wrapper
              .post
                .padding20
                  = render 'posts/form',{post: @post,postable: @group}
            = render 'posts/posts',{posts: @posts,postable: @group}
          #paginator.text-center
            = link_to_next_page @posts, 'Load More', remote: true, id: 'load_more'
        - else
          = render 'join_group'
      .col-sm-4
        .post-wrapper
          = render 'join_and_unjoin_button',group:@group,user:current_user
          - if current_user.is_group_approved(@group.id)
            .post-wrapper
              .post
                .post-head
                  %h4 Description
                  = @group.description
