%li{class: "#{"notification-unread" if !notification.read_at?}"}
  - if notification.notifiable.present?
    = link_to [notification.notifiable],class: 'dropdown-item' do
      = "#{notification.actor.full_name} approved you at  #{notification.notifiable.name} group"
  - else
    = notification.destroy