- if university.errors.any?
  #error_explanation
    %h4
      = pluralize(university.errors.count, "error")
      prohibited this university from being saved:
    %ul
      - university.errors.full_messages.each do |message|
        %li= message

= simple_form_for university, html: { multipart: true } do |f|
  = f.input :thumbnail_image, inline_label: 'Thummnail Image'
  = f.input :timeline_image, inline_label: 'Timeline Image'
  = f.input :name, label: false, placeholder: 'University Name' ,:autofocus => true
  = f.input :description, label: false, placeholder: 'University Description'
  = f.button :submit, class: 'btn-success btn-block'
