.bgwhite.sb1.mt20.mwidth960.mauto.padding20
  = render 'common_links'
  %hr
  - if current_user.is_group_approved(@group.id)
    #group_messages{'data-group-id': @group.id }
      - @group.group_message.order(created_at: :asc).reverse_order().limit(150).each do |message|
        = render 'messages',message: message

    = form_for @group_message, url: '#' do |f| 
      .form-group
        = f.text_area :body, class: 'form-control'
      = f.submit "Send Messages", class: 'btn btn-primary '