%nav.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle Navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "Bee Connect", root_path , class: 'navbar-brand'
    - if user_signed_in?
      = link_to  current_user.full_name.titleize, profile_path(current_user.user_name), class: 'navigation_box'
  .collapse.navbar-collapse#bs-navbar-collapse-1
    - if user_signed_in?
      .col-sm-3{style: 'margin-top: 7px;margin-left:20px;'}
        = render 'dashboard/search_form'
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li
          = link_to "Chat Groups", groups_path, class: 'navigation_box'
        %li
          = render 'notifications/notifications_dropdown'
        %li
          = render 'notifications/mesages_notifications_dropdown'
        %li
          = link_to "All Users", all_users_path, class: 'navigation_box'
        %li
          = link_to "Chat Rooms", chat_rooms_path, class: 'navigation_box'
        %li
          = link_to  edit_profile_path(current_user.user_name), class: 'navigation_box' do
            %span{class:'glyphicon glyphicon-cog  colorb'}
        %li
          = link_to  destroy_user_session_path, method: :delete, class: 'navigation_box' do
            %span{class:'glyphicon glyphicon-off colorr'}